* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

i,
em,
u {
    font-style: normal;
}

body {
    overflow-x: hidden;
}

body,
html {
    font-size: 12px;
}

img {
    vertical-align: top;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* 轮播图 */
.slideshow {
    width: 100%;
    height: 650px;
    position: relative;
    overflow: hidden;
}

.slideshow ul {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -960px;
}

.slideshow ul li {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

/* .slideshow ul li a img{
    
} */
.slideshow ul .active {
    display: block;
}

.slideshow ol {
    width: 50px;
    height: 60px;
    position: absolute;
    left: 50%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}

.slideshow ol li {
    width: 16px;
    height: 16px;
    background: #000;
    border-radius: 50%;
    color: #fff;
    line-height: 16px;
    text-align: center;
}

.slideshow ol .nvi {
    background: #ff0300;
}

.nav_img {
    width: 100%;
    height: 530px;
    margin: 10px auto;
    position: relative;
    margin-top: 30px;
    margin-bottom: 0;
    background: #000;
    overflow: hidden;
}

.nav_img ul {
    width: 1000%;
    position: absolute;
    top: 0;
    left: 0;
    background: #f7f7f7;
}

.nav_img ul li {
    width: 393px;
    height: 538px;
    float: left;
    margin-left: 10px;
}

.picture {
    width: 100%;
}

.picture .picture_top img {
    width: 100%;
}

.picture_bottom {
    display: flex;
    /* width: 1920px; */
    width: 114%;
    font-size: 0;
    position: relative;
    left: 50%;
    margin-left: -960px;
    overflow: hidden;
}

.picture_left_div_1,
.picture_left_div_2,
.picture_right_div,
.picture_right_div_1 {
    position: relative;
}

.picture_left_div_1 a:nth-child(2) div {
    position: absolute;
    top: 34px;
    left: 310px;
    width: 582px;
    height: 498px;
    background: rgba(101, 101, 101, 0.6);
    color: #ffffff;
    opacity: 0;
}

.picture_left_div_1 a:nth-child(2):hover div {
    opacity: 1;
    transition: 1s linear;
}

.picture_left_div_2 a:nth-child(2) div {
    position: absolute;
    top: 29px;
    left: 310px;
    width: 583px;
    height: 325px;
    background: rgba(101, 101, 101, 0.6);
    color: #ffffff;
    opacity: 0;
}

.picture_left_div_2 a:nth-child(2):hover div {
    opacity: 1;
    transition: 1s linear;
}

.picture_right_div a:nth-child(2) div {
    position: absolute;
    top: 99px;
    right: 310px;
    width: 661px;
    height: 703px;
    background: rgba(101, 101, 101, 0.6);
    color: #ffffff;
    opacity: 0;
}

.picture_right_div a:nth-child(2):hover div {
    opacity: 1;
    transition: 1s linear;
}

.picture_right_div_1 a:nth-child(2) div {
    position: absolute;
    top: 35px;
    right: 410px;
    width: 560px;
    height: 645px;
    background: rgba(101, 101, 101, 0.6);
    color: #ffffff;
    opacity: 0;
}

.picture_right_div_1 a:nth-child(2):hover div {
    opacity: 1;
    transition: 1s linear;
}

.video_tb {
    position: relative;
    width: 100%;
    height: 560px;
    text-align: center;
    overflow: hidden;
}

.video_js .item {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    opacity: 0;
    pointer-events: none;
    background-position: center center;
    background-repeat: no-repeat;
    transition: opacity 0.3s ease 0s;
}

.video_tb .item {
    opacity: 1;
    pointer-events: inherit;
}

.video_tb .item video {
    min-width: 1519px;
    background-size: 100%;
}

.video_tb .item div {
    position: absolute;
    top: 140px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 16px;
    white-space: normal;
    width: 100%;
    margin: auto;
}

.video_tb .item div img {
    display: inline-block;
    height: 52px;
}

.video_ipt {
    position: absolute;
    top: 242px;
    left: 50%;
    width: 800px;
    color: rgb(255, 255, 255);
    text-align: left;
    transform: translateX(-50%);
    margin: auto;
}

.video_ipt_d {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 1136px;
    padding: 0px 16px;
    margin: 0px auto;
    transition: all 0.15s ease-in 0s;
}

.video_ipt_div {
    margin-bottom: 16px;
    padding: 0;
    width: 800px;
}

.video_ipt_div form input {
    width: 700px;
    float: left;
    box-sizing: border-box;
    border-right-width: initial;
    border-left-width: initial;
    border-right-color: initial;
    border-left-color: initial;
    font-size: 20px;
    height: 56px;
    color: rgb(31, 31, 31);
    cursor: auto;
    font-weight: bold;
    caret-color: rgb(234, 67, 53);
    outline: none;
    background: rgb(255, 255, 255);
    border-style: none;
    border-image: initial;
    border-top: 4px solid transparent;
    padding: 0px 80px 0px 30px;
    transition: border-bottom-color 0.3s ease 0s;
}

.video_ipt_div form button {
    float: left;
    width: 82px;
    height: 56px;
    background: rgb(234, 67, 53);
    border: none;
    line-height: 1;
    color: #fff;
    font-family: ""Microsoft YaHei"";
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.video_btm {
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 0;
    height: 0px;
    pointer-events: none;
    transform: translateX(-50%);
    border-width: 1500px 1500px;
    border-style: solid solid none;
    border-color: rgba(240, 244, 245, 0.7) rgba(240, 244, 245, 0.7);
    border-image: initial;
    border-top: 152px solid transparent;
    border-bottom: none;
}

.navcabinet {
    width: 1205px;
    margin: 0 auto;
    /* height: 1750px; */
    padding: 0 30px;
    background: #FFF;
    margin-top: 100px;
    overflow: hidden;
}

.cabinet {
    overflow: hidden;
}

.cabinet .cabinet_1,
.cabinet_2,
.cabinet_3,
.cabinet_4 {
    float: left;
    width: 25%;
    height: 479px;
}

.cabinet_1 img {
    width: 100%;
}

.cabinet_3 img {
    width: 100%;
}

.cabinet_2 img {
    width: 100%;
}

/* .cabinet_4 img {
    width: 100%;
} */

.cabinet_5 div,
.cabinet_6 div,
.cabinet_7 div {
    width: 25%;
    float: left;
}

.cabinet_8 {
    background-color: white;
    width: auto;
    opacity: 1;
    margin-bottom: 50px;
}

.cabinet_8 p {
    height: 60px;
    margin: auto;
    margin-top: 320px;
    background: #c1121d;
    width: 330px;
}

.cabinet_8 p a {
    position: relative;
    display: block;
    width: 300px;
    margin: 30px auto 0;
    padding: 14px 15px;
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    /* overflow: hidden; */
    letter-spacing: .08em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    font-size: 21px;
}

.cabinet_5 div a img {
    width: 287px;
    height: 321px;
}

.cabinet_6 div a img {
    width: 287px;
    height: 321px;
}

.cabinet_7 div a img {
    width: 287px;
    height: 321px;
}


.cabinet_2 div:hover a img {
    opacity: .7;
}

.cabinet_4 div:hover a img {
    opacity: .7;
}

.cabinet_5 div:hover a img {
    opacity: .7;
}

.cabinet_6 div:hover a img {
    opacity: .7;
}

.cabinet_7 div:hover a img {
    opacity: .7;
}